* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}


:root {
  --primary: #000;
  --primary-1: #b97676;
}

p {
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'PT Sans', sans-serif
}


.btn {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: .3rem auto;
}

.btn--primary{
  display: inline-block;
  background: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: .3rem;
  width: fit-content;
}

.btn--primary:hover {
  color: #242422;
  background: #fff;
  transition: all 0.3s ease-out;
}

.btn--outline {
  display: inline-block;
  background-color: transparent;
  color: #000;
  border: 1px solid var(--primary);  
  border-radius: .3rem;
  transition: all 0.3s ease-out;
  width: fit-content;
}

.btn--medium{
  display: inline-block;
  padding: 8px 20px;
  font-size: 20px;
  width: fit-content;
}

.btn-dark {
  color: #fff;
  background: #242422;
}

.btn--large{
  display: inline-block;
  padding: 12px 26px;
  font-size: 20px;
  width: fit-content;
}

.btn--large:hover, .btn--outline:hover{
  background: #242422;
  color: #fff;
  transition: all 0.3s ease-out;
}

/* Custom CSS */
.bg-light {
  background: #fff;
  height: 80px;
  font-size: 1.2rem;
}


.navbar-brand {
  color: #000;
  margin-left: rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
}

.nav-item {
  height: fit-content;
} 

.nav-links {
  color: #000;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  margin-left: auto;
}

.nav-links:hover {
  border-bottom: 0.2rem solid #000;
  transition: all 0.2s ease-out;
  border-radius: 0 0 .5rem .5rem;
}


.nav-links.active {
  background: transparent;
  border-bottom: 0.2rem solid #000;
  border-radius: 0 0 .5rem .5rem;
}

.btn.active {
  background: transparent;
  border-bottom: none;
  border-radius: 0;
}

.navbar-toggler:focus, .navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Hero Section */
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .1rem;
}

.hero-item {
  padding: .4rem;
  border: none;
  width: 100%;
}

.hero-image {
  overflow: hidden;
  transition: transform .5s;
}

.border-radius-r {
  border-radius: .1rem 5rem .1rem 5rem;
}

.border-radius-l {
  border-radius: 5rem .1rem 5rem .1rem;
}

.border-radius-bl {
  border-radius: .1rem .1rem 5rem .1rem;
}

.hero-image img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  background-size: cover;
}

.hero-image:hover{
  transform: translateY(7px);
}

/* Section Style */
.section-container {
  padding: 0 .5rem;
  width: 100%;
  margin: 0 auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.flex-end {
  justify-content: flex-end;
  text-align: end;
}

.section-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .1rem;
}

.section-subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.section-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.section-body {
  display: flex;
  flex-direction: row;
  margin: 0 .5rem 1rem ;
}

.section-id {
  background: rgb(255, 165, 82);
  color: #fff;
  font-size: 1.1rem;
  min-width: 1.6rem;
  text-align: center;
  height: 1.6rem;
  border-radius: 10rem;

}
.sec-mr {
    margin-right: 1rem;
}
.sec-ml {
    margin-left: 1rem;
}
.section-body h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

/* Feature Section */
.single-image-con {
  overflow: hidden;
  transition: transform .5s;
  padding: .4rem;
  border: none;
  width: 100%;
}

.single-image-con img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  background-size: cover;
}

/* Card Section */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid grey;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  border-radius: .1rem;
  margin: 1rem auto;
}

.card-image {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 40%;
  min-width: 40%;
  object-fit: cover;
  background-size: cover;
}

.card-container:hover {
  transform: translateY(-7px);
}

.card-image img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2% 0 3%;
  max-width: 55%;
  min-width: 55%;
}


.card-name {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif
}

.card-text {
  font-weight: 100;
  font-size: 1.1rem;
}

.checked {
  color: rgb(255, 165, 82);
}

.font-capitalize {
  font-style: normal;
  text-transform: capitalize;
}

.bg-gray {
  background: rgb(237, 237, 237);
}

.footerTop-con {
  background: rgb(237, 237, 237);
  padding: .5rem 0;
  margin: 0 auto;
}

.footer-top-body {
  text-align: center;
  font-size: 1rem;
  display: flex;
  padding: 0 30% 0 30%;
}

.footer-container {
  margin: 3rem 0;
  padding: 1rem 0rem 1rem 2rem;
  width: 80%;
}

.footer-container-rg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 0;
}

.footer-logo {
  font-size: 1.1rem;
  font-weight: 400;
  font-family:  sans-serif;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  text-align: left;
  color: gray;
  line-height: 2rem;
}

ul li a {
  text-decoration: none;
  color: gray;
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  color: rgb(90, 83, 83);
}

.footer-title {
  text-transform: capitalize;
  line-height: 3rem;
}

.footer  span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif
}

.footer-text {
  font-size: medium;
  color: #f2f2f2;
  margin: .5rem auto 1.5rem auto;
}

.margin-tb {
  margin: 2rem auto 2rem auto;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1.5rem;
  max-width: 70vw;
}

label .form {
  min-width: 100%;
}
.form input{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 229px 16px 20px;
gap: 10px;
width: 397px;
height: 3.3rem;
background: #575757;
border-radius: 7px 0px 0px 7px;
}

.form input:focus{
  border: none;
  outline: none;
}

.form button:focus{
  border: none;
  outline: none !important;
}

.form input::placeholder {
  font-size: 100%;
  color: rgb(155, 155, 155);
  word-spacing: .2rem;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}

.btn-dark {
  padding: .35rem 1rem;
  color: rgb(255, 255, 255);
  background: #000;
  margin-left: -1rem;
  margin-top: .18rem;
}

.btn-space {
  margin: 1rem unset;
  border-radius: .2rem;
  margin-left: -.1rem;
  color: #000;
  background: #fff;
}

.btn-space:hover {
  color: #000;
  background-color: #fff;
}

.form button:disabled {
  background: #9B9B9B;
  color: #b6b0b0;
}

.dk-cl {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7px 18px;
gap: 10px;
height: 3.3rem;
border-radius: 0px 7px 7px 0px;

}

.dk-cl:hover {
  background: rgb(155, 155, 155);
  color: rgb(237, 237, 237);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 1rem 0;
}

.footer-icons a {
  margin: .1rem .3rem;
  border-radius: 50%;
  background: rgb(255, 165, 82);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-logo {
  text-decoration: none;
  cursor: pointer;
  color: rgb(237, 237, 237);
}

.footer-logo:hover {
  color: rgb(237, 237, 237);
}

.footer-icons a:hover {
  transform: translateY(-7px);
}

.footer-icons img {
  width: .9rem;
  margin: .3rem;
  font-size: 1rem;
  object-fit: cover;
  background: cover;
  filter: invert(100%) sepia(0%) saturate(749%) hue-rotate(180deg) brightness(100%) contrast(108%);
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: .5rem;
  padding: 1rem 0;
  color: rgb(237, 237, 237);
}

.logo {
  font-weight: bold;
}

.gray {
  color: rgb(155, 155, 155);
}

.bg-gray-2 {
  background: rgb(87, 87, 87);
}

.light {
  color: rgb(237, 237, 237);
}

.bg-dark {
  background: rgb(30, 30, 30);
  color: rgb(155, 155, 155);
}

.padding {
  padding: 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.side-bar-sm {
  padding: 1rem;
}



.flex-1 {
  flex: 1;
}

.block {
  display: flex;
  flex-direction: column;
}

.border-radius {
  border-radius: .4rem;
}

.margin-t-1 {
  margin-top: 1rem;
}

.margin-auto {
  margin:  0 auto;
}

.margin-t-auto {
  margin-top: auto;
}

.margin-t-2 {
  margin-top: 2rem;
}

.margin-t-3 {
  margin-top: 3rem;
}

.margin-t-4 {
  margin-top: 4rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.margin-b-2 {
  margin-bottom: 2rem;
}

.margin-b-3 {
  margin-bottom: 3rem;
}

.margin-b-4 {
  margin-bottom: 4rem;
}

.margin-t-auto {
  margin-top: auto;
}

.box-shadow {
  box-shadow: 0rem 0.4rem 0rem 0rem rgb(87, 87, 87);
}

.user-pro-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0 0rem 0;
}

.user-pro-info img {
  width: 2.7rem;
  height: 2.7rem;
  margin-bottom: 1rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.user-pro-info div  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.user-pro-info div h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  color: #EDEDED;
}

.user-pro-info div p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #9B9B9B;
}

.container-login {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}

.form-sidebar {
  max-width: 25rem;
  min-width: 22rem;
  height: 100%;
  background: #1E1E1E;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  padding-bottom: 1rem;
  margin: auto 1rem;
}

.signup {
  height: 115vh;
}

.side-bar-top h5 {
  width: 285px;
  height: 106px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 52px;
  color: #EDEDED;
}

.side-bar-top p {
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 38px;
  color: #9B9B9B;
}

.side-bar-sm-bottom {
  width: 100%;
  height: auto;
  background: #363636;
  border-radius: 10px;
  margin-top: auto;
  padding: .4rem 1rem;
}

.side-bar-sm-bottom p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: .9rem;
  color: #9B9B9B;
  background: #363636;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  height: 100vh;
  flex: 1;
  margin: 1rem 0 0rem 0;
}



.form-label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 38px;    
  color: #1E1E1E;
}

.form-container .form-control {
  box-sizing: border-box;
  padding: .5rem .2rem;
  width: 25rem;
  height: 2.7rem;
  background: #FFFFFF;
  border: 2px solid #575757;
  border-radius: 7px;
}

.user-pro-info div p {
  font-size: .9rem;
  line-height: .8rem;
}

.btn-login {
  padding: 7px 4rem;
  gap: 10px;
  background: #1E1E1E;
  border-radius: 10px;
  color: #EDEDED;
  flex: none;
  margin-top: 1rem;
}

.btn-log {
  color: rgb(122, 116, 116);
  background: #000;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.btn-log:first-child {
  max-width: 100%;
  margin: 0 1rem 0 0;
  padding: .45em 3rem;
  border-radius: .3rem;
  display: inline-block;
  width: fit-content;
  border: none;
}

.btn-icon {
  width: 1.4rem;
  height: 1.56rem;
}

.btn-log,
 input[type="text"],
 input[type="password"],
 input[type="datetime"],
 input[type="date"],
 input[type="month"],
 input[type="week"],
 input[type="number"],
 input[type="email"],
 input[type="url"],
 input[type="search"],
 input[type="tel"],
 input[type="color"] {
  border: .15rem solid #242422;
}




.btn-log:first-child:hover {
  background: #000;
  color: rgb(155, 155, 155);
  outline: none;
  border: none;
}

.btn-log:last-child:hover {
  background: #fff;
  color: rgb(155, 155, 155);
  outline: none;
}


.sidebar-nav {
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 3.5rem;
  background: #11101d;
  padding: .3rem .6rem;
  border-radius: 0 2rem 2rem 0;
  transition: all 0.5s ease;
  opacity: 12;
}

.sidebar-nav.active{
  width: 13rem;
  opacity: 14;
}

.sidebar-nav .logo_content .logo-title {
  color: #fff;
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav.active .logo_content .logo-title {
  opacity: 1;
  pointer-events: none;
}

.sidebar-nav .logo_content .logo-title .logo_name {
  font-size: 1.9rem;
  font-weight: 400;
}

.sidebar-nav #btn-bars {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 0.5rem;
  font-size: 1.2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  transform: translateX(-50%);
}

.sidebar-nav.active #btn-bars {
  left: 90%;
}

.sidebar-nav ul {
  margin-top: 1rem;
}

.sidebar-nav ul li {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0 0rem;
  list-style: none;
}

.sidebar-nav.active ul li {
  margin: 0 .5rem;
}

.sidebar-nav ul li .toolkit {
  position: absolute;
  height: 3rem;
  width: 12rem;
  left: 7rem;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  line-height: 4rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 .4rem .7rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0s;
  pointer-events: none;
}

.sidebar-nav ul li:hover .toolkit {
    top: 50%;
    transform: all 0.5s ease;
    pointer-events: none;
    opacity: 1;
    left: 9rem;
}

.sidebar-nav.active ul li:hover .toolkit {
  display: block;
  left: 15rem;

}

.sidebar-nav ul li a{
 opacity: 1;
}

.sidebar-nav.active ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: .6rem;
  opacity: 1;
}

.sidebar-nav ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: .6rem;
  opacity: 1;
}

.sidebar-nav ul li a:hover {
  opacity: 1;
}

.sidebar-nav.active ul li a:hover {
  opacity: 1;
  pointer-events: auto;
  background: #fff;
  color: #11101d;
  line-height: 0rem;
}

.sidebar-nav.active ul li i {
  padding-right: unset;

}
.sidebar-nav ul li i {
  height: 4rem;
  margin-right: 1rem;
  min-width: 2rem;
  line-height: 4rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

sidebar-nav ul li a .links_name {
  opacity: 0;
  pointer-events: none;
}

sidebar-nav.active ul li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-nav ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1.5rem;
  left: 0;
  border-radius: .6rem;
  outline: none;
  border: none;
  background: #1d1b31;
  color: #fff;
  padding-left: 0rem;
  padding-right: .6rem;
  font-size: 0rem;
}

.sidebar-nav.active ul li input {
  padding-left: 3rem;
  font-size: 1rem;


}
.sidebar-nav.active ul li .fa-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  top: 1rem;
  font-size: 1.1rem;
  align-items: center;
  transition: all .5s ease;
}

.sidebar-nav ul li .fa-search {
  color: #fff;
  z-index: 99;
  position: absolute;
  z-index: 99;
  color: #fff;
  top: 1rem;
  font-size: 1rem;
  align-items: center;
  transition: all .5s ease;
  background: transparent;
}

.sidebar-nav ul li .fa-search:hover{
  background: #fff;
  color: #1d1b31;
}

.sidebar-nav.active ul li .fa-search:hover{
  background: transparent;
  color: #fff;
}

.dashboard_logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.dashboard_logout .btn-logout {
  position: relative;
  padding: .5rem;
  font-size: 1.5rem;
  border-radius: .6rem;
}

.sidebar-nav.active .dashboard_logout .fa-sign-out  {
  background: #1d1b31;
}

.dashboard_logout .fa-sign-out {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  color: #fff;
  transform: translateX(-20%);
  line-height: 3.6rem;
  min-width: 4rem;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .6rem;
}

.sidebar-nav.active .dashboard_logout {
  left: -20%;
  text-align: center;
  transition: all 0.5s ease;
}
.main_content {
  height: 100%;
  width: 100%;
  margin: 2rem;
  opacity: 111;
}

.main_content_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.main_title {
  display: block;
  font-size: 100%; flex: 1;
}

.main_content h1{
 color: #000;
 font-size: 1.3rem;
 line-height: 1.6rem;
 opacity: 1;
}

.main_content h2{
 color: #000;
 font-size: 1.2rem;
 line-height: 1.6rem;
}

.main_content h3{
 color: rgb(78, 73, 73);
 font-size: 1.1rem;
 opacity: 1;
}

.join_meet_btns {
  display: flex;
  flex-direction: row;
  max-height: 3rem;
}

.join_meet_btns .btn--outline {
  margin-right: 1rem;
}

.main_content_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.dashboard-cards {
  display: grid;
  flex-direction: row;
  max-width: 90%;
  border: .1rem solid #000;
  margin: .5rem 1rem 1rem 0;
  padding: 1rem;
}

.card_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .2rem;
}

.card_details > div > img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile_name {
  margin-top: .5rem;
  margin-left: .5rem;
}

.profile_name h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  line-height: .8rem;
}

.profile_name h4 {
  font-size: 1rem;
  color: rgb(78, 73, 73);
}

.card_time {
  margin-top: .5rem;
  margin-left: .5rem;
}

.card_time h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  line-height: .8rem;
  text-align: right;
}

.card_time h4 {
  font-size: 1rem;
  color: rgb(78, 73, 73);
}

.card_body {
  margin-top: 1rem;
}

.card_body h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  padding-right: 1rem;
}

.card_body h4 {
  font-size: 1rem;
  color: rgb(78, 73, 73);
}

.card_body span {
  font-size: 1rem;
  color: rgb(78, 73, 73);
  line-height: .9rem;
}

/* *********** MEDIA QUERIES (MEDIUM DEVICES) *********** */
@media screen and (max-width: 990px) {

  .ms-auto {
    margin: 0.5rem auto;
    width: fit-content;
  }

  .ms-auto >.nav-links:hover {
    transition: all 0.3s ease-in-out;
    border-bottom: 0.2rem solid #000;
    transition: all 0.2s ease-out;
    border-radius: 0 0 .5rem .5rem;
  }

  .my-auto {
    margin: 0.2rem auto;
    align-items: center;
    width: 80%;
    border-radius: .5rem;
  }

  .nav-links {
    border-bottom: none;
    margin: auto;
    min-width: 100%;
    padding: 1rem 7.5rem;
  }

  .nav-links:hover {
    border-bottom: none;
    transition: all 0.5s ease-in-out;
    color: #000;
    padding-left: 30%;
    border: 1px solid var(--primary);  
    border-radius: 0.2rem;
  }

  .nav-links.active{
    border-bottom: 0.2rem solid #000;
    transition: all 0.2s ease-out;
    border-radius: 0 0 .5rem .5rem;
  }

  .btn.active {
    background: transparent;
    border-bottom: 0;
    border-radius: 0;
  }

  .ms-3.btn--outline, .ms-3.btn--primary {
    min-width: 20rem;
  }

  .btn--outline, .btn--primary {
    min-width: 17rem;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom {
    margin-bottom: 3rem;
  }
  
  .text-center-sm {
    text-align: start;
  }
  
  .container-login {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
.form-sidebar {
  min-width: 98vw;
  height: 100vh;
  background: #1E1E1E;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  flex: 1;
  padding-bottom: 1rem;
  margin: 0rem 0;
}

.side-bar-top:first-child {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #EDEDED;
}

.side-bar-top:nth-child(2) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  padding-top: 3rem;
  color: #EDEDED;
}

.side-bar-top p {
  height: 76px;
  width: 20rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #9B9B9B;
}

.user-pro-info div p {
  font-size: .8rem;
}

.side-bar-sm-bottom {
  width: 20rem;
  height: auto;
  background: #363636;
  border-radius: 10px;
  margin-top: auto;
  padding: .4rem 1rem;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 1rem;
  flex: 1;
  margin: 0 0rem 0rem 0;
}

 .form-group {
  max-width: 35rem;
}

.form-label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 38px;    
  color: #1E1E1E;
}

.form-control {
  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 25rem;
  height: 3rem;
  background: #FFFFFF;
  border: 2px solid #575757;
  border-radius: 7px;
}

}

/* *********** MEDIA QUERIES (SMALL DEVICES) *********** */
@media screen and (max-width: 700px) {
  .text-center-sm {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    max-width: 100%;
    
  }

  .form input {
    width: 100%;
    padding: .4rem;
    height: 2.8rem;
  }

  .dk-cl {
    width: fit-content;
    height: 2.8rem;
  }

  .btn-dark {
    width: 100%;
    padding: .35rem 1rem;
    margin-left: auto;
    margin-top: .18rem;
  }

  .btn-space:hover {
    color: #000;
    background-color: #fff;
  }
  .card-name {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif
  }

  .footer-container {
    width: 100%;
  }
  
  .card-text {
    font-weight: 100;
    font-size: .9rem;
  }

  .footer-top-body {
    text-align: center;
    display: flex;
    padding: 0 0 0 0;  
    font-size: .8rem;
  }

  .form .btn-dark {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .18rem;
  }

  .margin-tb .btn--primary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-icons {
    font-size: .9rem;
    padding: 1rem .1rem;
  }

  .date {
    padding: 1rem 0rem;
  }

  .h1-sm {
    font-size: .1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  
  } 

  .p-sm {
    font-size: .9rem;
  }

  .section-header h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .section-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  .section-title {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: .1rem;
  }

  .footer-container {
    margin: 3rem 0 0rem;
    padding: 1rem 0;
    width: 100%;
  }

  ul li {
    font-size: .9rem;
  }

  .date {
    gap: .1rem;
    padding: 1rem 0;
    font-size: .9rem;
  }

  .footer-logo {
    font-size: .9rem;
  }

  .footer-text {
    font-size: 1rem;
    color: #f2f2f2;
    margin: .5rem auto 1.5rem auto;
  }
  
}