# Django
venv/
meetra_frontend/node_modules/
meetra_backend/api/__pycache__/
meetra_backend/api/migrations/__pycache__/
meetra_backend/meetra_backend/__pycache__/
meetra_backend/users/__pycache__/
meetra_backend/users/migrations/__pycache__/
